/* --------------------------------fonts-------------------------------------- */
@font-face {
  font-family: "NotoSansKRB";
  src: url("../assets/fonts/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "NotoSansKRM";
  src: url("../assets/fonts/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "NotoSansKRR";
  src: url("../assets/fonts/NotoSansKR-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* --------------------------------navbar-------------------------------------- */
.navbar {
  padding: 12px;
}

.navbar_container {
  padding: 6px 0;
}

.header_image {
  height: 28px;
  width: 56px;
}

.navbar-brand {
  font-weight: 500;
  margin-left: 5px;
  font-family: "NotoSansKRM";
}

@media screen and (min-width: 991px) {
  .navbar-nav {
    margin-left: 20px;
  }
  .navbar-nav > li {
    margin-left: 40px;
    font-size: 1.25rem;
    font-family: "NotoSansKRR";
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar-nav > li {
  font-size: 1.25rem;
  font-family: "NotoSansKRR";
}

.dropdown-menu > li > a:active {
  color: #dd695d;
  background-color: transparent;
  text-decoration: underline;
  opacity: 1;
}

.dropdown-menu > li > a {
  font-family: "NotoSansKRR";
  opacity: 0.5;
  font-size: 1.25rem;
}

.navbar-nav .active_sub_item {
  font-family: "NotoSansKRM";
  opacity: 0.8;
}

.navbar-nav .active {
  font-weight: bold;
  font-family: "NotoSansKRM";
}

.navbar-nav > li:hover {
  font-family: "NotoSansKRR";
  font-size: 1.25rem;
}

.dropdown-item {
  font-family: "NotoSansKRR";
  font-size: 1rem;
  font-weight: 200;
  opacity: 0.8;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex img {
  height: 21px;
  width: 23px;
}

.d-flex div {
  margin-left: 10px;
  font-family: "NotoSansKRM";
  font-weight: 400;
  font-size: 1.25rem;
}

.d-flex:hover {
  cursor: pointer;
}

/* ----------------------------------section_title_container---------------------------------------- */

.section_title_container {
  /* background: url("../assets/group_management_section.svg") no-repeat; */
  background: url("../assets/group_management_section.png") no-repeat;
  width: 100%;
  background-size: cover;
  padding: 0 0 48px 0;
}

.navigation_banner {
  background-color: rgba(0, 0, 0, 0.4);
  height: 120px;
  display: flex;
  align-items: flex-end;
  padding: 12px 25px;
}

.navigation_banner div {
  margin-left: 9px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  opacity: 0.5;
  font-family: "NotoSansKRR";
}

@media screen and (max-width: 575px) {
  .navbar {
    padding: 0;
  }

  .navigation_banner {
    padding: 12px;
  }
}

.section_title {
  margin-top: 104px;
  font-size: 1.75rem;
  font-family: "NotoSansKRM";
  font-weight: 500;
  color: #fff;
}

.section_subtitle {
  margin-top: 1px;
  font-size: 1.25rem;
  font-family: "NotoSansKRR";
  font-weight: 200;
  color: #eaeaea;
}

@media screen and (max-width: 475px) {
  .section_subtitle {
    font-size: 0.8rem;
  }
}

/* department management section */
.department_management_container {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px 0;
}

.department_section_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.department_section_title_container p {
  font-size: 1.375rem;
  font-family: "NotoSansKRR";
  font-weight: 400;
  color: #dd695d;
  line-height: 33px;
}

.department_section_title_button_container a:first-child {
  padding: 5px 18px;
  background-color: #dd695d;
  color: #fff;
  font-size: 1.063rem;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 10px;
}

.department_section_title_button_container a:last-child {
  padding: 5px 18px;
  background-color: #bababa;
  color: #fff;
  font-size: 1.063rem;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 10px;
}

.department_section_title_button_container a:hover {
  color: #fff;
}

.no_registered_department_box {
  height: 550px;
  background-color: #fff;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  font-size: 1.25rem;
  font-family: "NotoSansKRR";
  margin-top: 14px;
  font-weight: 200;
  color: #383838;
}

.registered_department_box {
  height: 500px;
  background-color: #fff;
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: "NotoSansKRR";
  margin-top: 14px;
  font-weight: 200;
  color: #383838;
}

.accounting_team_box {
  height: 500px;
  background-color: #fff;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: "NotoSansKRR";
  margin-top: 14px;
  font-weight: 200;
  color: #383838;
}

.accounting_team_box_title_container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0 14px 0;
}

.accounting_team_box_title_container img {
  height: 14px;
  width: 28px;
}

.accounting_team_box_title_container div {
  font-family: "NotoSansKRR";
  font-weight: 500;
  margin-left: 8px;
  font-size: 1.12rem;
}

.accounting_teams_list_container {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-left: 24px;
}

.accounting_teams_list_container img {
  height: 20px;
  width: 20px;
}

.accounting_teams_list_container div {
  font-family: "NotoSansKRR";
  font-weight: 400;
  margin-left: 10px;
  font-size: 1rem;
}

/* Department tree */
.tree,
.tree ul {
  padding: 0 0 0 0;
  list-style: none;
  position: relative;
}

.tree ul {
  margin-left: 0.5em;
}

.tree:before,
.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  border-left: 1px dashed #909090;
}

ul.tree:before {
  border-left: none;
}

.tree li {
  margin: 16px 0 0 0;
  padding: 0 1.5em;
  line-height: 1.69rem;
  position: relative;
  font-size: 1.125rem;
  font-family: "NotoSansKRR";
  font-weight: 400;
  color: #383838;
}

.tree li a {
  text-decoration: none;
  color: #383838;
}

.tree li a:hover {
  padding: 4px;
  background-color: #fff6f5;
  border: 1px solid #dd695d;
}

.tree li img {
  height: 16px;
  width: 24px;
  margin-right: 8px;
}

.tree li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px dashed #909090;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 4px;
}

ul.tree > li:before {
  border-top: none;
}

.tree li:last-child:before {
  background: white;
  height: auto;
  top: 1em;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .no_registered_department_box {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 475px) {
  .registered_department_box {
    height: 450px;
    padding: 24px 0;
  }

  .accounting_team_box {
    height: 450px;
  }

  .tree li {
    font-size: 0.9rem;
  }

  .tree li img {
    height: 14px;
    width: 22px;
  }

  .accounting_team_box {
    padding: 12px;
  }

  .accounting_teams_list_container div {
    font-size: 0.9rem;
  }
}

/* Modal */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  height: 110vh;
}

.modal_box_container {
  padding: 30px 30px 10px 30px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 575px;
}

.modal_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title_container > div {
  font-size: 1.38rem;
  font-family: "NotoSansKRR";
  font-weight: 400;
  color: #dd695d;
}

.modal_title_container > img {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.modal_content_container {
  margin-top: 44px;
}

.modal_content_container div {
  font-size: 0.813rem;
  font-weight: 200;
  font-family: "NotoSansKRR";
  color: #909090;
  margin-top: 24px;
}

.modal_content_container input {
  font-size: 0.938rem;
  font-weight: 200;
  font-family: "NotoSansKRR";
  outline: none;
  width: 100%;
  border: none;
  margin-top: 2px;
  color: #383838;
}

.modal_content_container a:hover {
  color: #fff;
}

.modal_content_container select {
  width: 100%;
  outline: none;
  border: none;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
}

.modal_content_container select > option {
  font-size: 0.938rem;
  font-family: "NotoSansKRR";
  font-weight: 200;
  color: #383838;
  background-color: #fff;
}

.light_line_dropdown {
  height: 1px;
  width: 100%;
  background-color: #bababa;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.light_line {
  height: 1px;
  width: 100%;
  background-color: #bababa;
  margin-top: 5px;
}

.modal_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_department_button {
  margin: 24px 10px 24px 0;
  padding: 12px 48px;
  text-decoration: none;
  color: #fff;
  background-color: #dd695d;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "NotoSansKRR";
}

.department_edit_delete_button {
  margin: 24px 10px 24px 0;
  height: 48px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #909090;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "NotoSansKRR";
}

.department_edit_correction_button {
  margin: 24px 10px 24px 0;
  height: 48px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #dd695d;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "NotoSansKRR";
}

@media screen and (max-width: 600px) {
  .modal_box_container {
    padding: 20px 20px 0 20px;
    width: 90%;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bababa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bababa;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bababa;
}
